# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
movie.avi filter=lfs diff=lfs merge=lfs -text
